[submodule "src/main/java/com.flooferland/chirp"]
	path = src/main/java/com.flooferland/chirp
	url = https://github.com/FlooferLand/chirp-src
[submodule "src/main/java/com/flooferland/chirp"]
	path = src/main/java/com/flooferland/chirp
	url = https://github.com/FlooferLand/chirp-src
